body {
    /* height: 100vh; */
    background: linear-gradient(to bottom right, grey, white) no-repeat center fixed;
    background-size: cover;
}
    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.pasfoto {
    position: absolute;
    right: 715px;
    width: 100px;
    height: 100px;
}
.meme {
    margin: 45px;
    width: 400px;
    height: 400px;
}
p {
    text-align: center;
}
footer {
    position:fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}
.index_text{
    text-align: center;
}